@use "./components/adBox";
@use "./components/header";
@use "./components/logoTypes";
@use "./components/menu";
@use "./components/menuMobile";
@use "./components/pageImage";
@use "./components/slider";
@use "./components/topAppBar.scss";
@import "../sass/abstracts/variables.scss";
@import "../sass/abstracts/mixins.scss";

body {
  font-family: "sofia_prolight", sans-serif;
  margin: $no-margin;
  min-height: 100vh;
  padding: $no-padding;
  width: $full-width;
}

.app-wrapper {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  width: $full-width;
  @media only screen and (min-width: 1367px) {
    height: 100vh;
  }
}

main {
  padding-top: 5.0625rem;
  width: $full-width;
  @media only screen and (min-width: 957px) {
    padding: $no-padding;
  }
  @media only screen and (min-width: 1367px) {
    height: 100vh;
    @include flexColumn();
  }
}

.flex-adbox {
  flex: 0 0 32.45%;
  width: $full-width;
  @include flexRow();
  @media only screen and (max-width: 956px) {
    flex-direction: column;
    padding-bottom: 0.625rem;
  }
}

.flex-main {
  align-content: flex-start;
  flex: 0 0 48.63%;
  overflow: hidden;
  @include flexRow();
  @media only screen and (max-width: 956px) {
    flex-direction: column;
    margin: $no-margin;
  }
}