@import "../abstracts/variables";
@import "../abstracts/mixins";

.adBox-container-a {
  background-image: url("../../assets/dana-devolk-x2cNcfz_xXU-unsplash.png");
  background-image: -webkit-image-set(
    url("../../assets/dana-devolk-x2cNcfz_xXU-unsplash.png") 1x,
    url("../../assets/dana-devolk-x2cNcfz_xXU-unsplash@2x.png") 2x
  );
  background-image: image-set(
    url("../../assets/dana-devolk-x2cNcfz_xXU-unsplash.png") 1x,
    url("../../assets/dana-devolk-x2cNcfz_xXU-unsplash@2x.png") 2x
  );
  margin-left: 2.25rem;
  margin-right: 1rem;
  @include adBoxSetup();
  @media only screen and (max-width: 956px) {
    margin: 0 0 0.94rem;
    width: $full-width;
  }
}

.adBox-container-b {
  background-image: url("../../assets/aplikacja.png");
  background-image: -webkit-image-set(
    url("../../assets/aplikacja.png") 1x,
    url("../../assets/aplikacja@2x.png") 2x
  );
  background-image: image-set(
    url("../../assets/aplikacja.png") 1x,
    url("../../assets/aplikacja@2x.png") 2x
  );
  margin-right: 2.25rem;
  @include adBoxSetup();
  @media only screen and (max-width: 956px) {
    margin: 0 0 0.94rem;
    width: $full-width;
  }
}

.adBox-content-a,
.adBox-content-b {
  padding: 0 0.75rem;
  @media only screen and (min-width: 1681px) {
    margin-left: 7rem;
  }
}

.adBox-content-a h2,
.adBox-content-b h2 {
  font-size: 1.4rem;
  font-weight: $bold;
  @media only screen and (min-width: 1200px) and (max-width: 1680px) {
    font-size: 1.75rem;
  }
  @media only screen and (min-width: 1681px) {
    font-size: 2.1875rem;
    line-height: 2rem;
  }
}

.adBox-content-a p,
.adBox-content-b p {
  line-height: 1.4rem;
  @media only screen and (min-width: 1200px) and (max-width: 1680px) {
    font-size: 1.125rem;
    line-height: 1.85rem;
  }
  @media only screen and (min-width: 1681px) {
    font-size: 1.25rem;
    line-height: 2rem;
    margin: $no-margin;
  }
}

.inner-content {
  display: flex;
  flex-direction: column;
}

.bg-black {
  background-color: $black;
  font-weight: 600;
  padding: 0 0.2rem;
}

.bg-red {
  background-color: $red;
  font-weight: 600;
  padding: 0 0.2rem;
}

.adBox-content-a button,
.adBox-content-b button,
.swiper button {
  cursor: pointer;
  @include primaryBtn();
}

.adBox-content-a button {
  margin: 2.5rem 0 2rem;
  @media only screen and (min-width: 1681px) {
    font-size: 0.906rem;
    padding: 1.078rem 3.556rem;
  }
}

.adBox-content-b button {
  margin-bottom: 2rem;
  @media only screen and (min-width: 1681px) {
    font-size: 0.906rem;
    padding: 1.078rem 3.556rem;
  }
}

.adBox-content-a button:hover,
.adBox-content-b button:hover {
  text-decoration: underline;
}

.adBox-content-a button:active,
.adBox-content-b button:active {
  @include activeBtn();
}

.icons-wrapper {
  margin: 0.312rem 0 0.312rem -0.25rem;
}

.icons-wrapper a img {
  cursor: pointer;
  padding: 0.5625rem 0.312rem;
}

.icons-wrapper img:hover {
  transform: scale(0.95);
}

.icons-wrapper img:active {
  transform: scale(0.91);
}