@import "../abstracts/variables";
@import "../abstracts/mixins";

.logo {
  margin: 0 0 0 0.625rem;
  padding: 0.625rem 0.625rem 0.625rem 0;
  @media only screen and (min-width: 957px) and (max-width: 1680px) {
    padding-left: 2.25rem;
  }
  @media only screen and (min-width: 1681px) {
    margin-left: 8.625rem;
  }
}

.logo img {
  @include heightAndWidth(2.06rem, 2.06rem);
  @media only screen and (min-width: 1681px) {
    @include heightAndWidth(2.94rem, 3rem);
  }
}