@import "../abstracts/variables";
@import "../abstracts/mixins";

.logo-types-list {
  flex: 0 0 6.02%;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  padding: $no-padding;
  width: calc($full-width - 38.3%);
  @include flexItemCenter();
  @media only screen and (max-width: 956px) {
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.logo-types-list img {
  @media only screen and (max-width: 956px) {
    padding: 0 0.6rem;
  }
}