@import "../abstracts/variables";
@import "../abstracts/mixins";

.category-link {
  padding: 1.0625rem 1.625rem;
  cursor: pointer;
  @media only screen and (max-width: 1199px) {
    border-bottom: 1px solid #e8e8e8;
    display: block;
    font-family: "sofia_prolight", sans-serif;
    font-weight: $normal;
    letter-spacing: 0.047rem;
    padding: 1rem 1.25rem;
    text-transform: uppercase;
  }
}

.category-link a {
  text-decoration: none;
  color: $black;
  @media only screen and (max-width: 1199px) {
    color: #6b6e68;
  }
}

.category-link:hover {
  text-decoration: underline;
  @media only screen and (max-width: 1199px) {
    background-color: $orange;
    text-decoration: none;
  }
}

.category-link a:active {
  color: $orange-dark;
  text-decoration: none;
  @media only screen and (max-width: 1199px) {
    color: $white;
    font-weight: $normal;
  }
}

.category-link a:hover {
  @media only screen and (max-width: 1199px) {
    color: $white;
  }
}

.category-link a {
  @media only screen and (max-width: 1199px) {
    color: #6b6e68;
  }
}

.main-list {
  display: flex;
  list-style: none;
  padding: $no-padding;
  @media only screen and (max-width: 1199px) {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    list-style: none;
    margin: $no-margin;
    text-align: left;
  }
}

.nav-bar {
  @media only screen and (max-width: 1199px) {
    background: #f9f9f9;
    flex-direction: column;
    margin: 5.0625rem auto;
    width: $full-width;
  }
}

.nav-items-container {
  @media only screen and (max-width: 1199px) {
    position: absolute;
    margin: 0.875rem 0 0 0.875rem;
  }
}

.nav-items {
  flex-wrap: wrap;
  list-style: none;
  line-height: 0.875rem;
  margin: $no-margin;
  padding: 0 0.75rem 0 0;
  @include flexItemCenter();
  @media only screen and (min-width: 957px) and (max-width: 1680px) {
    padding-right: 3rem;
  }
  @media only screen and (min-width: 1681px) {
    margin-right: 8.2rem;
  }
}

.nav-items .account-info,
.nav-items .basket {
  padding: 0.625rem 0.5rem;
  @media only screen and (min-width: 1681px) {
    padding: 0.625rem 1.125rem;
  }
}

.nav-items li:nth-child(2) {
  padding: 0 1rem;
}

.nav-items .order-btn {
  background-color: $red;
  border-radius: 0.625rem;
  color: $white;
  padding: 0.625rem 1.188rem;
  @media only screen and (min-width: 957px) {
    padding: 0.906rem 1.563rem;
  }
}

.nav-items li {
  cursor: pointer;
  @include flexColumn();
}

.nav-items a {
  flex-direction: column;
  text-decoration: none;
  color: $black;
  @include flexItemCenter();
}

.nav-items li:active {
  text-decoration: none;
  transform: scale(0.95);
}

.nav-items li:hover {
  text-decoration: underline;
}
