@import "../abstracts/variables";
@import "../abstracts/mixins";

.menu.hide {
  overflow: auto;
  width: 0px;
}

.menu {
  background: $white;
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  overflow: hidden;
  overflow: scroll;
  padding-top: 0;
  position: fixed;
  top: 0;
  z-index: 2;
  @include flexColumn();
  @include heightAndWidth(100%, $full-width);
}

.close-btn {
  background-color: $white;
  border: none;
  padding: 1.063rem;
  position: absolute;
  right: 0;
  top: 0.875rem;
}

.close-btn img {
  width: 1.25rem;
}

.close-btn:hover {
  transform: scale(0.98);
}

.close-btn:active {
  transform: scale(0.91);
  transition: transform 150ms ease-in;
}

.menu-toggle {
  font-size: 0.625rem;
  padding: 0.625rem 0.75rem;
}


@media only screen and (max-width: 1199px) {
  .menu {
    left: -100%;
    transform: translate3d(100%, 0px, 0px);
    transition: all 0.4s ease-in-out;
  }

  .menu-toggle {
    background-color: $white;
    border: none;
    flex-direction: column;
    font-family: "sofia_prolight", sans-serif;
    line-height: 0.875rem;
    @include flexItemCenter();
  }

  .menu-toggle img {
    @include heightAndWidth(1.45rem, 1.45rem);
  }

  .menu-toggle:active {
    transform: scale(0.95);
  }
}
