@import "../abstracts/variables";

.page-image {
  margin: $no-margin;
  padding: $no-padding;
  @media only screen and (min-width: 957px) {
    width: 50%;
  }
}

.page-image img {
  max-width: $full-width;
}